nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  color: rgba(255, 255, 255, 0.9);
}
@media only screen and (max-width: 600px) {
  .parallax-container {
    min-height: 450px;
  }
  #index-banner .section {
    top: 10%;
  }
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.blue-tci {
  background-color: #00447E !important;
}